---
layout: default
---

<div class="home">
  <ul class="post-list">
    <div class="no-post">
      <div class="alert alert-info">
        No Posts yet!
      </div>
    </div>
    {% for post in site.posts %} {% if post.categories contains 'reference' %} {% endif %} {% else %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ site.baseurl }}/feed.xml">via RSS</a></p>
</div>
