.center {
  text-align: center;
}

/* -------------------
Fonts
---------------------- */
.text-shadow-sm {
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

/* -------------------
Page-Panel
---------------------- */
.page-panel {
  position: relative;
  height: 100%;
  .page-panel-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
  }
}

/* -------------------
Pattern Bg
---------------------- */
.pattern-bg {
  &::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('../images/pattern.png');
    opacity: 0.5;
    pointer-events: none;
  }
}
