.footer {
  padding: 15px 0 30px 15px;
  background: @gray-darker;
  h2 {
    border: none;
  }
  .site-footer {
    border-top: 1px solid @gray-light;
    padding: 15px 0;
  }
  .footer-heading {
    font-size: 18px;
    margin-bottom: 15px / 2;
  }
  .footer-links {
    text-align: center;
    ul {
      list-style: none;
      li {
        float: left;
        padding-right: 10px;
        a {
          font-size: 20px;
          color: @gray-light;
        }
      }
    }
  }
}
