@import '../bower_components/bootstrap/less/bootstrap.less';
@import 'home.less';
@import 'sidebar.less';
@import 'components.less';
@import 'syntax-highlighting.less';

// --------------------------
// Vars
// --------------------------
@gray: #eee;
@blue: #4078c0;
@font-size-base: 16px;
@sidebar-width: 300px;

// --------------------------
body {
  font-family: "Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
.wrapper {
  width: auto;
  margin: 0 auto;
  margin-left: @sidebar-width;
  .content {
    padding: 40px 20px 40px 40px;
    margin-right: auto;
    max-width: 800px; //todo: move to breakpoint
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

/**
 * Lists
 */
ul,
ol {
  margin: 0;
  padding: 0;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 30px;
  margin: 0.67em 0;
}

/**
 * Links
 */
a {
  color: @blue;
  text-decoration: none;
}

/**
 * Blockquotes
 */
blockquote {
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  >:last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  margin: 0;
  word-break: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  color: @text-color;
  display: block;
}

/**
 * Tables
 */
table {
  border-radius: 4px;
  .table;
  .table-hover;
  .table-bordered;
  .table-striped;
}
