@import '../bower_components/bootstrap/less/bootstrap.less';
@import 'home.less';
@import 'components.less';
@import 'syntax-highlighting.less';

// --------------------------
// Vars
// --------------------------
@gray: #eee;
@blue: #4078c0;
@font-size-base: 16px;

// --------------------------
body {
  font-family: "Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
.site-content {.side-bar {
    height: 100%;
    width: 300px;
    padding: 0;
    position: fixed;
    background: #adcfdb;
    top: 0;
    left: 0;
    border-left: 1px solid @gray-lighter;
    .site-title {
      font-size: 26px;
      line-height: 56px;
      letter-spacing: -1px;
      margin: 15px auto;
      display: block;
      padding: 0 15px;
      height: 50px;
      width: 50px;
      border: 6px solid @gray;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      position: relative;
      &:hover {
        text-decoration: none;
        transform: scale(1.1);

        // .t {
        //   top: -5px;
        //   transform: scale(1.9);
        // }
      }
      &:visited {
        color: @gray-dark;
      }
      .text {
        position: absolute;
        top: -99999px;
      }
      .t {
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -7px;
        color: @gray;

        // transform: rotate(0.15turn);
        left: 50%;
        margin-left: -7.9px;
      }
    }
    .nav {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .footer-nav {li {
        display: inline-block;
      }
    }
  }
  .content-container {
    width: auto;
    margin: 0 auto;
    margin-left: 300px;
    padding-bottom: 40px;
    .content {
      padding: 40px 20px 40px 40px;
      margin-right: auto;
      max-width: 800px; //todo: move to breakpoint
    }
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

/**
 * Lists
 */
ul,
ol {
  margin: 0;
  padding: 0;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 30px;
  margin: 0.67em 0;
}

/**
 * Links
 */
a {
  color: @blue;
  text-decoration: none;
}

/**
 * Blockquotes
 */
blockquote {
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  >:last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  margin: 0;
  word-break: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  color: @text-color;
  display: block;
}

/**
 * Tables
 */
table {
  border-radius: 4px;
  .table;
  .table-hover;
  .table-bordered;
  .table-striped;
}
