<footer id="footer">
  <ul class="links">
    <li>
      <a href="https://github.com/officert">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://angel.co/tim-officer">
        <i class="fa fa-angellist"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/timothyOfficer">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="mailto:timothyofficer@gmail.com">
        <i class="fa fa-envelope-o"></i>
      </a>
    </li>
  </ul>
</footer>
