<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {{ content }}
  {% include footer.html %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      var links = document.querySelectorAll('.post-content a');
      for (var i = 0, length = links.length; i < length; i++) {
        if (links[i].hostname != window.location.hostname) {
          links[i].target = '_blank';
        }
      }
    });
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22911932-1', 'auto');
  ga('send', 'pageview');

</script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://wrkflows-embed-dev.wrkshp.io/embed.js"></script>
  <script>
    window.wrkflows.init('1198c953-c935-4a5b-a463-77a34dfb0e90');

    window.wrkflows.identify('12345678910');
  </script>
</body>

</html>
